html {
  overflow-y: scroll;
}
html, body {
  height: 100%;
  min-height: 100%;
}
body {
  background-color: #222;
  margin: 0;
}
.main {
  padding: 0 20px;
  text-align: center;
  /* vertically aligned */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  animation: fadeIn 2s;
}
img {
  display: block;
  margin: 0 auto 30px;
  max-width: 80%;
  height: auto;
  border-radius: 3px;
}
h1 {
  font-family: 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif;
  color: #DDD;
  line-height: 0.875;
  margin: 0;
  font-size: 3em;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.0;
  }
}

@media (min-width: 560px) {
  h1 {
    font-size: 4em;
  }
}

@media (min-width: 768px) {
  img {
    max-width: 100%;
  }
  h1 {
    font-size: 5em;
  }
}