html {
  overflow-y: scroll;
}
html, body {
  height: 100%;
  min-height: 100%;
}
body {
  background-color: #222;
  margin: 0;
}
.main {
  padding: 0 20px;
  text-align: center;
  /* vertically aligned */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
img {
  display: block;
  margin: 0 auto 30px;
  max-width: 65%;
  height: auto;
  border: 1px solid #DDD;
}
h1 {
  font-family: 'Jaldi', 'Helvetica Neue', Helvetica, sans-serif;
  color: #DDD;
  line-height: 0.875;
  margin: 0;
  font-size: 3em;
}

@media (min-width: 768px) {
  img {
    max-width: 100%;
  }
  h1 {
    font-size: 5em;
  }
}